# AuthUserFile C:/wamp/www/lostLetters/.htpasswd
# AuthName "Accès protégé"
# AuthType Basic
# Require valid-user

# Options +FollowSymlinks -> semble poser problème à apache (optional)
RewriteEngine On
# Ne pas mettre le nom de domaine dans la seconde partie
RewriteRule ^index.html$ controllers/c-index.php [L]
RewriteRule ^article/detail/([0-9]+)$ controllers/c-display.php?id=$1 [L]
RewriteRule ^update/detail/([0-9]+)$ controllers/c-modify.php?id=$1 [L]
RewriteRule ^delete/detail/([0-9]+)$ controllers/delete.php?id=$1 [L]
RewriteRule ^signin.html$ controllers/c-signin.php [L]
RewriteRule ^logout.html$ controllers/logout.php [L]
RewriteRule ^edition.html$ controllers/c-edition.php [L]
